4* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
}
.header{
  min-height: 80px;
  position: fixed;
}
.logo{
  padding-bottom: 10px;
}
.navbar {
  display: flex;
  padding: 30px 98px 0 98px;
  border-bottom: 3px dotted #eee;
}
.nav {
  display: flex;
  list-style: none;
  margin-left: auto;
}
.menu {
  font-weight: 600;
  font-size: 16px;
  padding: 0 15px;
}
.main-banner {
  padding-top: 80px;
  padding-bottom: 90px;
  border-bottom: 3px dotted #eee;
}
.container-fluid {
  display: flex;
}
.left-content {
  max-width: 700px;
  width: 100%;
  padding: 0 15px;
  position: relative;
}
.left-img {
  width: 100%;
  height: 550px;
}
.right-img {
  max-width: 280px;
  width: 100%;
  padding: 15px;
  min-height: 250px;
}
.inner-text {
  position: absolute;
  top: 200px;
  left: 20%;
}
.inner-heading {
  color: #fff;
  margin-top: -10px;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}
.inner-text span {
  color: #fff;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  display: block;
}
.main-btn {
  font-size: 13px;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 15px;
  background: transparent;
  font-weight: 500;
}
.right-text {
  position: relative;
}
.inner-right-text {
  position: absolute;
  top: 80px;
  left: 20px;
  text-align: center;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.inner-right-heading {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.inner-right-para {
  color: #fff;
  font-size: 16px;
  font-style: italic;
}
.hover-content {
  position: absolute;
  top: 30px;
  left: 25px;
  background-color: rgba(42, 42, 42, 0.99);
  text-align: center;
  visibility: hidden;
  transition: all ease 0.2s;
  width: 260px;
  height: 220px;
}
.right-text:hover .hover-content{
  visibility: visible;
}
.hover-inner-heading{
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.hover-inner-para{
  color: #fff;
  padding: 0 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 25px;
}
.hover-btn{
  border: 1px solid #fff;
  color: #fff;
  font-size: 13px;
  padding: 12px 25px;
  background-color: transparent;
}
.hover-btn:hover{
  background-color: #fff;
  color: #2a2a2a;
}
.men {
  padding-top: 80px;
  padding-bottom: 90px;
  border-bottom: 3px dotted #eee;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  width: 100%;
}
.section-heading {
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
  margin-top: 0;
  margin-bottom: 0;
}
.section-text span {
  font-style: italic;
  font-size: 14px;
  color: #a1a1a1;
  font-weight: 400;
}
.men-image {
  padding-top: 60px;
  display: flex;
}
.men-pic {
  max-width: 330px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
}
.thumb {
  display: flex;
}
.down-content {
  position: relative;
}
.stars {
  position: absolute;
  right: 10px;
  bottom: 45px;
}
.hover-icons {
  position: absolute;
  bottom: 170px;
  left: 70px;
  visibility: hidden;
  transition: all ease 0.1s;
}
.images:hover .hover-icons{
  visibility: visible;
}
.images{
  position: relative;
}
.icon {
  background-color: #fff;
  color: #2a2a2a;
  padding: 15px 20px;
  margin-right: 15px;
  font-size: 13px;
}

.down-heading {
  font-size: 22px;
  color: #2a2a2a;
  font-weight: 700;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

.bi {
  font-size: 13px;
}
.down-price {
  font-size: 18px;
  color: #a1a1a1;
  font-weight: 500;
  margin-left: 10px !important;
  margin: 0;
}

.women-image {
  padding-top: 60px;
  display: flex;
}
.women-pic {
  max-width: 330px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
}
.women {
  padding-top: 80px;
  padding-bottom: 90px;
  border-bottom: 3px dotted #eee;
}
.kid {
  padding-top: 80px;
  padding-bottom: 90px;
  border-bottom: 3px dotted #eee;
}
.kid-pic {
  max-width: 330px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
}
.kid-image {
  padding-top: 60px;
  display: flex;
}
.explore{
  padding-top: 80px;
  padding-bottom: 90px;
  border-bottom: 3px dotted #eee;
  
}
.explore-left-content{
  max-width: 540px;
  margin-right: 10px;
}
.explore-heading{
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}
.explore-para{
  font-size: 14px;
  color: #a1a1a1;
  font-weight: 500;
  margin-top: 25px;
}
.explore-para em{
  color: #0056b3;
  font-style: normal;
}
.bi-quote{
  font-size: 35px;
  margin-right: 15px;
  margin-top: 10px;
}
.font-italic{
  font-style: italic;
  font-weight: 500;
  color: #2a2a2a;
}
.discover{
  font-size: 13px;
  background-color: transparent;
  color: #2a2a2a;
  padding: 12px 25px;
  border: 1px solid #2a2a2a;
  margin-top: 35px;
}
.d-flex{
  display: flex;
}
.leather{
  background-color: #f8f8f8;
  text-align: center;
  width: 255px;
  min-height: 255px;
  
}
.flex-box{
  display: flex;
  flex-wrap: wrap;
 

}
.m-left{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.leather-heading{
  font-size: 24px;
  font-weight: 700;
  color: #2a2a2a;
  padding-top: 90px;
  margin-bottom: 5px;
}
.leather-text{
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #aaa;
}
.social-media{
  padding-top: 80px;
  padding-bottom: 90px;
  border-bottom: 3px dotted #eee;
}
.row-images{
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
.extra-information{
  padding-top: 80px;
  padding-bottom: 90px;
  border-bottom: 3px dotted #eee;
}
.width{
  max-width: 700px;
  width: 100%;
}
.form{
  margin-top: 30px;

}
.form-control{
  height: 44px;
  padding: 0 15px;
  line-height: 44px;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #aaa;
  border: 1px solid #7a7a7a;
width: 260px;
  margin-right: 10px;
  
}

.information-heading{
  font-size: 16px;
  font-weight: 700;
  color: #2a2a2a;
  margin: 0;
}
.information-text{
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  margin-bottom: 30px;
  margin-top: 0;
}
.margin-left{
  margin-left: 98px;
}
.basic-left{
  padding-left: 15px;
  padding-right: 15px;
  width: 150px;
}
.basic-information{
  margin-left: 50px;

}
.basic-right{
  padding-left: 15px;
  padding-right: 15px;
  width: 150px;

}
.footer{
  background-color: #2a2a2a;
  padding-bottom: 30px;
}
.p-top{
  padding-top: 50px;
}
.office-info{
  width: 250px;
  padding: 0 15px;

}
.inner-info{
  font-size: 14px;
  color: #fff;
}
.list-heading{
  letter-spacing: 0.5px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 30px;
}
.list{
  list-style: none;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}
.shopping-categories{
  width: 250px;
  padding: 0 15px;
}
.links{
  width: 250px;
  padding: 0 15px;
}
.help{
  width: 250px;
  padding: 0 15px;
}
ul{
  padding: 0 30px;
}
.under-footer{
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  border-top: 1px solid rgba(250,250,250,0.3);
}
.under-footer-heading{
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}
.under-footer strong{
  color:#cff ;
}
.social-media-icon{
  list-style: none;
  display: inline-block;
  font-size: 22px;
  color: #cff;
  margin: 0 10px;
}
.send-icon{
  font-size: 16px;
  color: #f8f8f8;
  background-color: #2a2a2a;
  padding: 10px 15px;
border: none;
}
.send-icon:hover{
  background-color: #fff;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  transition: all ease 0.5s;
}
.hover-effect{
  position: relative;
  transition: all ease 0.3s;
}
.hover-effect:hover .effect-text{
  visibility: visible;
  

}
.effect-text{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  color: #fff;
  font-size: 14px;
  background-color: rgba(0,0,0,0.85); 
  width: 100%;
  height: 100%;
  visibility: hidden;

}
.effect-text h4{
  margin: 0;
  padding-top: 150px;
  padding-left: 20px;
}
.effect-text i{
  padding-left: 20px;
}